* {
    border: 2px solid red;
    box-sizing: inherit;
}
body {
    border: 2px solid blue;
}

.wholeHeader {
    border: 2px solid purple;
    display: flex;
}

.videoHeader {
    border: 2px solid brown;
}

.videoLinks {
    border: 4px dotted black;

}

.quote {
    border: 3px dotted orange;
}

.finalSubscribe {
    border: 4px dotted seagreen;
}

.footer {
    display: flex;
}
.navBar {
    border: 10px dotted lightgreen;

}

.navBar a, img {
    border: 4px dotted red;
    max-width: 100%;
}

.bottomPage {
    border: 8px solid grey;
}
.siteHeader {
    border: 2px solid green;
}

