@font-face {
    font-family: thaiFont;
    src: url(fonts/PADTHAI_.TTF);
}

@font-face {
    font-family: headerFont;
    src: url(fonts/Babie.ttf);
}

@font-face {
    font-family: bodyFont ;
    src: url(fonts/NugoSans-Light.ttf);
}

@font-face {
    font-family: subscribeFont;
    src: url(fonts/AugustSansRed-55Regular.otf);
}
@font-face {
    font-family: ;
    src: url();
}

* {
    border: 2px solid red;
    box-sizing: inherit;
}

.siteDescription {
    color: #E5E7EB;
    font-size: 18px;
    font-family: bodyFont;
}

.pageMainImage {
    max-width: 100px;
    max-height: 100px;
}

.subscribe {
    max-width: 90px;
    max-height: 25px;
    background-color: rgb(50, 127, 241);
    color: white;
    align-content: center;
    border-radius: 8px;
}
body {
    border: 2px solid rgb(50, 127, 241);
}

.videoReel {
    border: 14px solid pink;
    display: flex;
}

.wholeHeader {
    border: 2px solid purple;
    display: flex;
    background-color: #1F2937;
}

.headerLeft {
    display: flex;
    flex-direction: column;
}

.wholeHeader p {
    font-family: headerFont;

}

.videoHeader {
    border: 2px solid brown;
    text-align: center;
    font-family: bodyFont;
}

.videoLinks {
    border: 4px dotted black;

}

.quote {
    border: 3px dotted orange;
    font-family: bodyFont;
}

.finalSubscribe {
    border: 4px dotted seagreen;
}

.footer {
    display: flex;
}
.navBar {
    border: 10px dotted lightgreen;
    background-color: transparent;
}

.navBar a, img {
    border: 4px dotted red;
    max-width: 100%;
}

.bottomPage {
    border: 8px solid grey;
    background-color: #1F2937;
}
.siteHeader {
    border: 2px solid green;
    color: #F9FAF8;
    font-family: headerFont;
}

.headerLeft p {
    font-family: bodyFont;
}

.headerLeft a {
    font-family: subscribeFont;
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 7px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.videoLinks p {
    font-family: bodyFont;
}
