@font-face {
    font-family: thaiFont;
    src: url(fonts/PADTHAI_.TTF);
}

@font-face {
    font-family: headerFont;
    src: url(fonts/Babie.ttf);
}

@font-face {
    font-family: bodyFont ;
    src: url(fonts/NugoSans-Light.ttf);
}

@font-face {
    font-family: subscribeFont;
    src: url(fonts/AugustSansRed-55Regular.otf);
}
@font-face {
    font-family: iconFont;
    src: url(fonts/Social\ Circles.otf);
}

* {
    /*border: 2px solid red;*/
    /*box-sizing: inherit;*/
    margin: 0;
}

.siteDescription {
    color: #E5E7EB;
    font-size: 18px;
    font-family: bodyFont;
    margin-top: 10px;
}

.imageWrapper {
    /*border: 4px solid limegreen;*/
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.pageMainImage {
    /*border: 4px dotted red;*/
    flex-grow: 10;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding-top: 50px;
    margin-bottom: 50px;

    /*border: 4px solid limegreen;*/
}

.subscribe {
    max-width: 90px;
    max-height: 25px;
    background-color: rgb(50, 127, 241);
    color: white;
    align-content: center;
    border-radius: 8px;
}
body {
    /*border: 2px solid rgb(50, 127, 241);*/
    width: 100%;
}

.videoReel {
    /*border: 14px solid pink;*/
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.wholeHeader {
    /*border: 2px solid purple;*/
    display: flex;
    background-color: #1F2937;
    max-height: 400px;
}

.headerLeft {
    /*border: 4px dotted limegreen;*/
    display: flex;
    flex-direction: column;
    padding: 100px 50px 25px 50px;
}

.videoHeader {
    /*border: 2px solid brown;*/
    text-align: center;
    font-family: bodyFont;
    font-size: 32px;
    padding: 20px;
}

.videoLinks {
    /*border: 4px dotted black;*/

}

.quote {
    /*border: 3px dotted orange;*/
    background-color: #E5E7EB;
    color: #1F2937;
    text-align: center;
    font-family: bodyFont;
    padding: 25px 40px 15px 40px;
}

.author {
    font-size: 18px;
    padding-top: 15px;
}

.footer {
    display: flex;
    position: absolute;
    top: 5px;
    width: 100%;
}
.navBar {
    display: flex;
    width: 100%;
    /*border: 10px dotted lightgreen;*/
    background-color: transparent;
    padding-top: 5px;
}

.ytVideos {
    border: none;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videoLinks a {
    /*border: 4px solid blue;*/
}

.navBar a, img {
    /*border: 4px dotted blue;*/
    width: 100%;
}

.siteHeader {
    /*border: 2px solid green;*/
    color: #F9FAF8;
    font-family: headerFont;
    font-size: 48px;
}

.headerLeft p {
    font-family: bodyFont;
}

.headerLeft a {
    font-family: subscribeFont;
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 7px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.videoLinks p {
    font-family: bodyFont;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.pageLinks {
    /*border: 4px solid red;*/
    position: absolute;
    right: 20px;
}

.ytLogo {
    position: absolute;
    left: 20px;
    max-width: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.about {
    font-family: bodyFont;
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px 20px 0 10px;
}

.facebook {
    width: 100%;
    font-family:  iconFont;
    font-size: 32px;
    text-decoration: none;
    padding: 10px 20px 0 10px;
    color: white;
}

.wrapperFinalSubscribe {
    background-color: white;
}

.finalSubscribe {
    display: flex;
    flex-direction: row;
    /*border: 4px dotted seagreen;*/
    background-color: rgb(50, 127, 241);
    margin: 50px 75px 50px 75px;
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    color: white;
}

.lastThing {
    font-family: bodyFont;
    /*border: 4px solid limegreen;*/
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 20px;
}

.lastSubscribe {
    font-family: subscribeFont;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 20px 20px 30px;
    margin-top: 10px;
    display: flex;
}

.subscribeBottom {
    max-width: 90px;
    max-height: 25px;
    color: white;
    align-content: center;
    border-radius: 8px;
    border: 2px solid white;
    text-decoration: none;
    padding: 10px 10px 5px 10px;
}

.bottomPage {
    /*border: 8px solid grey;*/
    background-color: #1F2937;
    color: white;
    padding: 20px 20px;
    text-align: center;
    font-family: bodyFont;
}